h2 Friendship
div.profile__friend-box--accepted(class=relationship=='accepted'? '':'hide')
  p Friends
  button.small.profile__friend-action(data-action='unfriend' data-friend-id=profile.id) Unfriend
div.profile__friend-box--outgoing(class=relationship=='outgoing'? '':'hide')
  p Pending #{profile.username}'s approval
  button.small.profile__friend-action(data-action='cancel' data-friend-id=profile.id) Cancel
div.profile__friend-box--incoming(class=relationship=='incoming'? '':'hide')
  p #{profile.username} added You
  p#Ignore_block_info
  button.small.profile__friend-action(data-action='accept' data-friend-id=profile.id) Accept
  button.small.profile__friend-action(data-action='ignore' data-friend-id=profile.id) Ignore
  button.small.profile__friend-action(data-action='block' data-friend-id=profile.id) Block
div.profile__friend-box--ignored(class=relationship=='ignored'? '':'hide')
  p #{profile.username} ignored your request
  button.small.profile__friend-action(data-action='add' data-friend-id=profile.id) Resend
  button.small.profile__friend-action(data-action='cancel' data-friend-id=profile.id) Cancel
div.profile__friend-box--blocked(class=relationship=='blocked'? '':'hide')
  p #{profile.username} blocked your request
div.profile__friend-box--add(class=relationship=='add'? '':'hide')
  p
  button.small.profile__friend-action(data-action='add' data-friend-id=profile.id) Add Friend

script(type='text/javascript').
  $('.profile__friend-action').on('click', function() {
    var action = $(this).data('action');
    var friendID = $(this).data('friend-id');
    $.ajax({
      type: 'POST',
      url: '/account/friend',
      data: {
          friendID: friendID
        , action: action
      }
    })
    .done(function() {
      switch(action) {
        case 'add':
          $('.profile__friend-box--add').hide()
          $('.profile__friend-box--ignored').hide()
          $('.profile__friend-box--outgoing').show()
          break;
        case 'accept':
          $('.profile__friend-box--incoming').hide()
          $('.profile__friend-box--accepted').show()
          break;
        case 'ignore':
          $('#Ignore_block_info').text('This request will be hidden from your pending list.')
          break;
        case 'block':
          $('#Ignore_block_info').text('This user will no longer be able to send you friend requests.')
          break;
        case 'unfriend':
          $('.profile__friend-box--accepted').hide()
          $('.profile__friend-box--add').show()
          break;
        case 'cancel':
          $('.profile__friend-box--outgoing').hide()
          $('.profile__friend-box--add').show()
          break;
      }
    })
  });