extends ./layout

block content
  div.row
    div.small-12.column
      if !profile
        h1 This profile couldn't be found
      else
        h1 #{profile.username}
        if errorFlash.length
          div.alert-box.alert #{errorFlash}
        p Current Balance is: <span id='Balance'>#{profile.chips}</span>
        container#Graph
        if loggedIn
          if isYou
            p #{profile.email}
            button(class='btn', id='Topup') Top Up Balance (2000)
            a.button(href="/account/settings") Update Details
          else
            if relationship
              p #{relationship}
            else
              button.button.small#Add_friend Add Friend
  
  if profile
    script(type='text/javascript').
      $(document).ready(function() {
        $('#Topup').on('click', function() {
          $.ajax({
            type: 'POST',
            url: '/account/topup-chips',
            data: {
              element: document.getElementById('sessionID')
            }
          })
          .done(function(data) {
            $('#Balance').text(data.chips);
            $('#Chips').text(data.chips);
          });
        });

        $('#Add_friend').on('click', function() {
          $.ajax({
            type: 'POST',
            url: '/account/add-friend',
            data: {
              friendID: '#{profile.id}'
            }
          })
          .done(function() {
            $('#Add_friend').text('Friend request sent');
            $('#Add_friend').off('click');
          })
        });

        $('#Graph').highcharts({
          chart: {},
          credits: {
            enabled: false
          },
          exporting: {
            enabled: false
          },
          title: {
            text: 'Overall lifetime profitability',
            x: -20
          },
          yAxis: {
            title: {
              text: 'Profitability'
            }
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                month: '%e. %b',
                year: '%b'
            },
            title: {
              text: 'Time Played'
            }
          },
          series: [{
            name: 'Profitability',
            data: []
          }]
        });
        var chipTracker = JSON.parse('!{chipTracker}'); 
        var mySeries = [];
        // offset in minutes converted to milliseconds
        var offset = new Date().getTimezoneOffset() * 60000;
        for (var i = 0; i < chipTracker.length; i++) {
            var epochDate = Date.parse(chipTracker[i].date);
            epochDate -= offset;
            mySeries.push([epochDate, chipTracker[i].change]);
        }
        var chart = $('#Graph').highcharts();
        chart.series[0].setData(mySeries); 
      });